.category-links-container{
    display: flex;
    flex-direction: row;
}


@media (max-width: 600px){
    .category-links-container{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 500px){
    .category-links-container{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 414px){
    .category-links-container{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 375px){
    .category-links-container{
        display: flex;
        flex-direction: column;
    }
}

