.categories-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
@media (max-width: 670px){
    .categories-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 500px){
    .categories-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 414px){
    .categories-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 375px){
    .categories-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}