.payment-container{
    
}
.payment-methods{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.payment-provide{
    font-size: 16px;
    color: red;
    font-weight: bold;
}
.method{
    height: 100px;
    width: 110px;
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
    padding: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Klarna{
    margin-right: 0;
}
.method-image{
    height: 100%;
    width: 100%;
    
}
.active-method{
    border: 4px solid #5A85F2;
    height: 96px;
    width: 116px;
    border-radius: 4px;
}
@media (min-width: 1640px){
    .method{
        width: 130px;
    }
    #Stripe{
        width: 130%;
    }
    #ApplePay{
        width: 80%;
    }
    #Klarna{
        width: 80%;
    }
}
@media (max-width: 375px){
    .payment-methods{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .method{
        width: 150px;
        margin-bottom: 20px;
    }
}
