#first-name{
    width: 45%;
   
}
#last-name{
    position: absolute;
    top: 38.3%;
    width: 45%;
    right: -1%;
}

#postal-code{
    width: 45%;
}
#city{
    position: absolute;
    bottom: 25.8%;
    width: 45%;
    right: -1%;
}
#email{
    position: absolute;
    top: 22%;
    width: 100%;
}

.inputClass{
    background-color: #FAFAFA;
    height: 40px;
    border: 1px solid #D9D9D9;
    width: 100%;
    margin: 10px 0;
}
.inputClass::placeholder{
    color: #737373;
    font-size: 14px;
    font-family: 'Inter', 'sans-serif';
}
.inputClass:focus{
    outline: none;
    font-size: 14px;
}

@media (min-width: 1640px){
    #email{
        top: 22%;
        margin-bottom: 20px;
        width: 100%;    
    }
    #first-name{
        width: 45%;
    }
    #last-name{
        position: absolute;
        width: 45%;
        right: 0;
        top: 37.2%;
        right: -1%;
    }
    #city{
        position: absolute;
        width: 45%;
        top: 65.1%;
        right: -1%;
    }
    #postal-code{
        width: 45%;
    }
    
}
@media (max-width: 375px){
    #email{
        top: 24%;
        margin-bottom: 20px;
    }
    #first-name{
        width: 100%;
    }
    #last-name{
        position: static;
        width: 100%;
    }
    #city{
        position: static;
        width: 100%;
    }
    #postal-code{
        width: 100%;
    }
    
}
@media (min-width: 1915px){
    #email{
        top: 20%;
        margin-bottom: 20px;
        width: 100%;    
    }
    #first-name{
        width: 45%;
    }
    #last-name{
        position: absolute;
        width: 45%;
        right: 0;
        top: 36%;
        right: -1%;
    }
    #city{
        position: absolute;
        width: 45%;
        top: 63.0%;
        right: -1%;
    }
    #postal-code{
        width: 45%;
    }
    
}