.product-description-container{
    width: 50%;
    height: 500px;
    position: relative;
    margin-left: 20px;
}
.product-name{
    color: #000000;
    font-family: 'Inter', 'sans-serif';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 0;
}
.product-price{
    font-family: 'Inter', 'sans-serif';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #999999;
}
.product-description{
    width: 315px;
    height: auto;
    font-family: 'Inter', 'sans-serif';
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #4F4F4F;
    margin-top: 50px;
}
.product-description2{
    width: 315px;
    height: auto;
    font-family: 'Inter', 'sans-serif';
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #4F4F4F;
    margin-top: 30px;
}
.material{
    width: 315px;
    height: auto;
    font-family: 'Inter', 'sans-serif';
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
    list-style-type: none;
}
#add-to-cart{
    border: 3px solid red;
}
.toggleCart{
    position: absolute;
    top: -36.6%;
    right: -22%;
    font-family: 'Inter', 'sans-serif';
    font-size: 14px;
    line-height: 17px;  
    font-style: normal;
    font-weight: bold;
    height: 70px;
    cursor: pointer;     
}
.success-box{
    background-color: #6BBD6E;
    color: #ffffff;
    font-family: 'Inter', 'sans-serif';
    padding: 5px;
    color: white;
    margin-top: 95px;
    overflow: hidden;

   -moz-animation-delay: 3.5s;
   -webkit-animation-delay: 3.5s;
   -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
.red{
    background-color: #B33A3A;
}
.success-box.fadeInDownBig{
    height: auto;
}
.success-text{

}
.success{
    font-weight: bold;

}
.close-box{
    color: white;
    font-weight: bold;
    float: right;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding-right: 15px;
}
.close-box:hover{
    color: #000000;
}
.cart-button{
    position: absolute;
}
.ul-materijal ul{
    margin: 0;
    padding: 0;
}
.ul-materijal ul li{
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    font-family: 'Inter', 'sans-serif';
    color: #4F4F4F;
}

@media (max-width: 800px){
    .product-description-container{
        width: 45%;
        margin: auto;
        position: relative;
        margin-top: 50px;
        padding: 0 10px;
    }
    .product-name{
        font-size: 14px;
        width: 100%;
        line-height: 20px;


    }
    .product-price{
        font-size: 17px;
        margin-top:10px ;
    }
    .product-description{
        width: 90%;
    }
    .product-description2{
        width: 90%;
        margin-top: 10px;
    }
  
    
}
@media (max-width: 700px){
    .product-description-container{
        width: 45%;
        margin: auto;
        position: relative;
        margin-top: 50px;
        padding: 0 10px;
    }
    .product-name{
        font-size: 14px;
        width: 100%;
        line-height: 20px;

    }
    .product-price{
        font-size: 17px;
        margin-top:10px ;
    }
    .product-description{
        width: 90%;
    }
    .product-description2{
        width: 90%;
        margin-top: 10px;
    }
    
}
@media (max-width: 600px){
    .product-description-container{
        width: 100%;
        margin: auto;
    }
    .product-name{
        position: absolute;
        top: -173%;
        left: 10%;
        font-size: 16px;

    }
    .product-price{
        position: absolute;
        top: -167%;
        left: 10%;
        font-size: 17px;
    }
    .product-description{
        width: 90%;
    }
    .product-description2{
        width: 90%;
        margin-top: 10px;
    }
    .cart-button{
        width: 100%;
        margin-top: 50px;
        position: fixed;
        bottom: 0;
        left: -10%;
        z-index: 99999;
    }
    
}
@media (max-width: 500px){
    .product-description-container{
        width: 100%;
    }
    .product-name{
        position: absolute;
        top: -173%;
        font-size: 13px;
    }
    .product-price{
        position: absolute;
        top: -167%;
        font-size: 16px;
    }
    .product-description{
        width: 90%;
    }
    .product-description2{
        width: 90%;
        margin-top: 10px;
    }
    .cart-button{
        width: 100%;
        margin-top: 50px;
        position: fixed;
        bottom: 0;
        left: -10%;
        z-index: 99999;
    }
    
}
@media (max-width: 420px){
    .product-description-container{
        width: 100%;
    }
    .product-name{
        position: absolute;
        top: -173%;
        font-size: 14px;
    }
    .product-price{
        position: absolute;
        top: -167%;
        font-size: 16px;
    }
    .product-description{
        width: 90%;
    }
    .product-description2{
        width: 90%;
        margin-top: 10px;
    }
    .cart-button{
        width: 100%;
        margin-top: 50px;
        position: fixed;
        bottom: 0;
        left: -10%;
        z-index: 99999;
    }
    
}

@media (max-width: 375px){
    .product-description-container{
        width: 100%;
    }
    .product-name{
        position: absolute;
        top: -173%;
        font-size: 14px;
    }
    .product-price{
        position: absolute;
        top: -167%;
        font-size: 16px;
    }
    .product-description{
        width: 90%;
    }
    .product-description2{
        width: 90%;
        margin-top: 10px;
    }
    .cart-button{
        width: 100%;
        margin-top: 50px;
        position: fixed;
        left: -10%;
        z-index: 99999;
    }
    
}
